h1 {
	text-align: center;
	box-shadow: 2px 4px 1px;
	margin-left: 150px;
	margin-right: 150px;
	padding: 10px;
	background-color: grey;
	border-radius: 4px;
}

.Navi {
	box-shadow: 2px 4px 1px;
	margin-right: 1500px;
	margin-left:150px;
	text-align: left;
	background-color: grey;
	border-radius: 4px;
}
